// 自定义bootstrap的变量
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$font-family-sans-serif: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$grid-gutter-width: 0px;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@mixin top-shadow {
    background: url(../images/top_shadow.png) no-repeat center top;
}
@mixin bottom-shadow {
    background: url(../images/bottom_shadow.png) no-repeat center bottom;
}
a, .btn-link {
    &:hover {
        text-decoration: none;
    }
}
// 重置box-sizing为content-box
* {
    @include box-sizing(content-box);
}
*:before, *:after {
    @include box-sizing(content-box);
}
.container {
    width: 1000px !important;
    &.container-fluid {
        width: 100% !important;
    }
}
body {
    padding-top: 60px;
}
// 自定义按钮样式
// 背景色为黄色的按钮
.btn-a {
    @include button-variant(#ffffff, #e39300, #e39300);
}
// 背景色为蓝色的按钮
.btn-b {
    @include button-variant(#ffffff, #1b76cd, #1b76cd);
    padding-left: 30px;
    padding-right: 30px;
}
// 背景色为蓝色的按钮，并增加了一点padding
.btn-c {
    @include button-variant(#666666, #e3e3e3, #c8c8c8);
    letter-spacing: 5px;
}
// 背景色为蓝色的按钮，并增加了一点padding
.btn-d {
    @include button-variant(#ffffff, #1c86cf, #1c86cf);
    padding-top: 9px;
    padding-bottom: 8px;
}
.ui-dialog {
    //自定义默认弹出窗口样式
    &.skin-popup {
        border: 1px solid #1c86cf;
        font-family: inherit;
        .ui-dialog-title {
            font-weight: normal;
        }
        .ui-dialog-arrow-a {
            border-bottom: 8px solid #1c86cf;
        }
        .ui-dialog-footer {
            button {
                border-radius: 3px;
                padding-left: 30px;
                padding-right: 30px;
                &.ui-dialog-autofocus {
                    background-color: #e39300;
                    border-color: lighten(#e39300, 15%);
                }
            }
        }
        //特殊确认对话框
        &.skin-confirm {
            .ui-dialog-header {
                .ui-dialog-title {
                    font-size: ceil(($font-size-base * 1.14));
                }
            }
            .ui-dialog-body {
                .ui-dialog-content {
                    text-align: center;
                }
            }
            .ui-dialog-footer {
                text-align: center;
                .ui-dialog-button {
                    float: none;
                    padding-bottom: 20px;
                }
            }
            .help {
                position: absolute;
                width: 100%;
                bottom: 0px;
                left: 0px;
                text-align: center;
            }
        }
    }
    //处理中模态提示
    &.skin-processing {
        font-family: inherit;
        background-color: transparent;
        color: #fff;
        border: none;
        box-shadow: none;
    }
    //处理结束模态提示
    &.skin-result {
        font-family: inherit;
        background-color: transparent;
        color: #fff;
        border: none;
        box-shadow: none;
        .ui-dialog-header {
            border-bottom: none;
        }
        .ui-dialog-close {
            color: #fff;
            opacity: 0.5;
        }
    }
}
.navbar-default {
    background-color: #393939;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    .navbar-header {
        margin-right: 20px;
        .navbar-brand {
            padding: 0px;
            height: auto;
            .border-box {
                padding: 12px 15px;
            }
        }
    }
    .navbar-nav {
        line-height: 60px;
        & > li {
            a {
                color: #999999;
                line-height: 36px;
                height: 36px;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: 12px;
                border-radius: 3px;
                &:hover {
                    color: lighten(#999999, 25%);
                }
            }
            &.active {
                a {
                    color: #e5e5e5;
                    background-color: #555555;
                    &:hover {
                        color: lighten(#999999, 25%);
                        background-color: #555555;
                    }
                }
            }
            &.divider {
                color: #666666;
                padding-left: 24px;
                padding-right: 24px;
                &.divider-full-height {
                    border-left: 1px solid #444343;
                    border-right: 1px solid #313131;
                    height: 60px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
    }
}
.banner {
    overflow: hidden;
    position: relative;
    &.banner-index {
        height: 418px;
        background: url(../images/banner_01.jpg) no-repeat center 60px fixed;
        .container {
            position: relative;
            z-index: 1;
            color: #ffffff;
            height: 418px;
            h1 {
                margin-top: 128px;
                font-weight: normal;
                p {
                    color: #ffffff;
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
            }
            .btn-a {
                font-size: 22px;
                padding: 15px 55px;
                letter-spacing: 5px;
            }
            .device {
                position: absolute;
                bottom: 0px;
                right: -56px;
            }
        }
    }
    &.banner-product {
        height: 450px;
        background: url(../images/banner_02.jpg) no-repeat center 60px fixed;
        text-align: center;
        color: #e5e5e5;
        img {
            margin-top: 108px;
        }
        h3 {
            margin-top: 30px;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 10px;
            font-size: 12px;
        }
    }
    &.banner-mobile {
        height: 450px;
        background: url(../images/banner_03.jpg) no-repeat center 60px fixed;
        h1 {
            color: #a97c38;
            margin-top: 180px;
            margin-bottom: 70px;
            font-size: 30px;
        }
        a {
            margin-right: 10px;
            &:hover {
                img {
                    opacity: 0.8;
                }
            }
        }
    }
}
#functions {
    padding-bottom: 100px;
    .title {
        font-size: 22px;
        margin: 60px auto;
        text-align: center;
        font-weight: normal;
    }
    .function-1, .function-2, .function-3, {
        text-align: center;
        .color-box {
            width: 258px;
            height: 123px;
            line-height: 123px;
            border-radius: 12px;
            color: #fff;
            .iconfont {
                font-size: 56px;
            }
        }
        h4 {
            font-size: 22px;
            margin-top: 20px;
            margin-bottom: 25px;
        }
        p {
            font-size: 12px;
            border-top: 1px dotted #b2b2b2;
            padding-top: 22px;
            text-align: left;
        }
    }
    .function-1 {
        > .content-box {
            padding-left: 0px;
            padding-right: 74px;
        }
        .color-box {
            background-color: #549ed1;
        }
        h4 {
            color: #549ed1;
        }
    }
    .function-2 {
        > .content-box {
            padding-left: 38px;
            padding-right: 38px;
        }
        .color-box {
            background-color: #cc942e;
        }
        h4 {
            color: #cc942e;
        }
    }
    .function-3 {
        > .content-box {
            padding-right: 0px;
            padding-left: 74px;
        }
        .color-box {
            background-color: #87b33d;
        }
        h4 {
            color: #87b33d;
        }
    }
}
#comments {
    border-top: 1px solid #e5e5e5;
    background: #f4f4f4 url(../images/yinying_01.png) no-repeat center top;
    .title {
        font-size: 22px;
        margin: 30px auto;
        text-align: center;
        font-weight: normal;
    }
    .media-left {
        width: 20%;
        margin-right: 20px;
        a {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    .media-body {
        p {
            .iconfont {
                color: #999999;
                &.icon-quote-left {
                    margin-right: 5px;
                }
                &.icon-quote-right {
                    margin-left: 5px;
                }
            }
        }
    }
    .say-team-title {
        text-align: center;
        margin: 30px 0;
        a {
            color: #cccccc;
            &:hover, &:focus {
                color: darken(#cccccc, 20%);
            }
        }
    }
    .say-team-list {
        list-style: none;
        @include clearfix();
        li {
            float: left;
            width: 25%;
            text-align: center;
            margin-bottom: 20px;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
            a {
                img {
                    height: 50px;
                }
            }
        }
    }
}
.who-use {
    background: url(../images/bg_01.jpg) center center;
    text-align: center;
    color: #fff;
    padding-bottom: 150px;
    .who-use-title {
        font-size: 22px;
        margin: 80px 0 100px;
    }
    .who-use-list {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            float: left;
            width: 20%;
            .iconfont {
                font-size: 32px;
            }
        }
    }
}
.site-map {
    padding-top: 40px;
    padding-bottom: 80px;
    ul {
        list-style: none;
        font-size: $font-size-small;
        margin: 0;
        padding: 0;
        li {
            margin: 10px 0;
            a {
                color: #666666;
                &:hover, &:focus {
                    color: darken(#666666, 30%);
                }
            }
        }
        .cate {
            font-size: $font-size-large;
            margin-bottom: 12px;
        }
        &.content-box-2 {
            margin-left: 50px;
        }
        &.content-box-3 {
            margin-left: 100px;
        }
        &.content-box-4 {
            margin-left: 150px;
        }
    }
}
.register {
    border-bottom: 1px solid #e6e6e6;
    .container {
        padding: 56px 36px;
        color: #666666;
        h3 {
            border-bottom: 3px solid #e4e4e4;
            padding-bottom: 14px;
            margin-bottom: 56px;
        }
        .form-control-static {
            &.align-right {
                text-align: right;
                margin-right: -28px;
            }
            &.note {
                margin-left: 10px;
                color: #999999;
            }
        }
    }
    .form-horizontal {
        .control-label {
            padding-top: 10px;
            font-weight: normal;
            margin-right: 25px;
        }
    }
    .form-control {
        height: 26px;
    }
    .input-group {
        .input-group-btn {
            padding-left: 26px;
            .btn {
                padding-top: 10px;
                padding-bottom: 9px;
            }
        }
    }
    .form-control-content-box {
        padding-right: 26px;
    }
}
.register-success {
    text-align: center;
    margin: 130px 0;
    .iconfont {
        color: #1c86cf;
        font-size: 64px;
    }
}
.login {
    .container {
        width: 600px !important;
        padding: 0px 28px 50px;
        color: #666666;
        border: 1px solid #e6e6e6;
        margin: 100px auto;
        .iconfont {
            font-size: 18px;
            color: #777680;
        }
        h3 {
            border-bottom: 3px solid #e4e4e4;
            padding-bottom: 14px;
            margin-bottom: 56px;
        }
        .form-control-content-box {
            padding-right: 26px;
        }
        .form-control {
            height: 26px;
        }
        .btn-d {
            font-size: 16px;
            &.btn-padding {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        .help-block {
            color: #a1a1a1;
            margin-top: 20px;
        }
        .split {
            border-bottom: 1px solid #e4e4e4;
            margin-bottom: 30px;
            height: 1px;
        }
        .control-label {
            padding-top: 10px;
            font-weight: normal;
            margin-right: 25px;
        }
        .reset-password-success {
            text-align: center;
            margin: 30px 0;
            .iconfont {
                color: #e39300;
                font-size: 64px;
            }
            .text-email {
                color: #e39300;
                &:hover, &:focus {
                    color: lighter(#e39300, 20%);
                }
            }
        }
        .text-muted {
            color: #999999;
            &:hover, &:focus {
                color: lighter(#999999, 20%);
            }
        }
    }
}
.product-1 {
    padding: 80px 0;
    text-align: center;
}
.product-2 {
    background-color: #f4f4f4;
    @include bottom-shadow();
    h3 {
        text-align: center;
        padding-top: 30px;
        margin-top: 0px;
        margin-bottom: 40px;
        @include top-shadow();
    }
    .media {
        margin-bottom: 56px;
        .media-left {
            padding-right: 20px;
        }
        .media-heading {
            color: #333333;
            font-size: 18px;
            margin-bottom: 20px;
        }
        p {
            color: #999999;
            line-height: 1.8;
        }
    }
    .col-left {
        .media {
            padding-left: 48px;
            padding-right: 110px;
        }
    }
    .col-right {
        .media {
            padding-right: 50px;
            padding-left: 120px;
        }
    }
}
.product-3 {
    text-align: center;
    padding: 50px;
    @include bottom-shadow();
    h3 {
        margin-bottom: 30px;
    }
    .btn-lg {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.product-4 {
    @include bottom-shadow();
    padding-bottom: 50px;
    text-align: center;
    .title {
        text-align: left;
        border-bottom: 1px solid #e2e2e2;
        padding: 20px 0;
        color: #666666;
        font-size: 18px;
        margin: 0;
        margin-bottom: 20px;
        .iconfont {
            font-size: 18px;
            margin-right: 10px;
        }
    }
}
.product-5 {
    .media {
        margin: 50px 0;
        .media-left, .media-right {
            width: 50%;
            text-align: center;
        }
        .media-body {
            vertical-align: middle;
            .media-heading {
                font-size: 30px;
            }
            p {
                font-size: 18px;
                color: #999999;
            }
        }
    }
}
.product-6 {
    margin: 50px 0;
    .container {
        border-top: 2px solid #f2f2f2;
    }
    text-align: center;
    h2 {
        display: inline-block;
        padding: 0 20px;
        background: #ffffff;
        font-size: 24px;
        position: relative;
        top: -35px;
        margin-bottom: 50px;
    }
    p {
        font-size: 16px;
        color: #3c3c3c;
        margin-top: 30px;
    }
}
.customer {
    .title {
        text-align: left;
        border-bottom: 1px solid #e2e2e2;
        padding: 20px 0;
        color: #666666;
        font-size: 18px;
        margin: 0;
        margin-bottom: 20px;
        .iconfont {
            font-size: 18px;
            margin-right: 10px;
        }
    }
    &.customer-1 {
        .media {
            margin: 50px 0;
            .media-left {
                width: 20%;
                margin-right: 20px;
                a {
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    color: #333333;
                }
                p {
                    text-align: center;
                }
            }
            .media-body {
                .media-heading {
                    margin-bottom: 20px;
                }
                p {
                    font-size: 16px;
                    color: #666666;
                    line-height: 2;
                    .iconfont {
                        color: #e5e5e5;
                        &.icon-quote-left {
                            margin-right: 5px;
                        }
                        &.icon-quote-right {
                            margin-left: 5px;
                        }
                    }
                    &.description {
                        font-size: 14px;
                        line-height: 1.8;
                    }
                    &.date {
                        font-size: 12px;
                        line-height: 1.8;
                    }
                }
            }
        }
        .say-team-title {
            text-align: center;
            margin: 80px 0;
            font-size: 24px;
            font-weight: bold;
            a {
                color: #333333;
                &:hover, &:focus {
                    color: darken(#333333, 20%);
                }
                strong {
                    font-size: 48px;
                }
            }
        }
        .say-team-list {
            list-style: none;
            @include clearfix();
            li {
                float: left;
                width: 25%;
                text-align: center;
                margin-bottom: 20px;
                opacity: 0.6;
                height: 160px;
                &:hover {
                    opacity: 1;
                    a {
                        border: 1px solid #ededed;
                    }
                }
                a {
                    display: block;
                    padding: 40px 0;
                    border: 1px solid #ffffff;
                    img {
                        max-height: 85px;
                        max-width: 70%;
                    }
                }
            }
        }
    }
}
.support {
    .title {
        text-align: left;
        border-bottom: 1px solid #e2e2e2;
        padding: 20px 0;
        color: #666666;
        font-size: 18px;
        margin: 0;
        margin-bottom: 20px;
        .iconfont {
            font-size: 18px;
            margin-right: 10px;
        }
    }
    &.support-1, &.support-2 {
        .form-horizontal {
            margin-top: 30px;
            .control-label {
                padding-top: 10px;
                font-weight: normal;
                margin-right: 25px;
            }
        }
        .form-control {
            height: 26px;
        }
        textarea {
            &.form-control {
                height: auto;
            }
        }
        .input-group {
            .input-group-btn {
                padding-left: 26px;
                .btn {
                    padding-top: 10px;
                    padding-bottom: 9px;
                }
            }
        }
        .form-control-content-box {
            padding-right: 26px;
        }
        .col-main {
            width: 730px;
            margin-right: 20px;
            .border-box {
                border: 1px solid #e2e2e2;
            }
            ul {
                list-style: none;
                @include clearfix();
                border: 1px solid #e2e2e2;
                margin: 0;
                padding: 0;
                padding-top: 50px;
                padding-left: 20px;
                padding-right: 20px;
                font-size: 0;
                *word-spacing: -1px;
                @media screen and (-webkit-min-device-pixel-ratio: 0) {
                    letter-spacing: -4px;
                }
                li {
                    font-size: 14px;
                    letter-spacing: normal;
                    word-spacing: normal;
                    vertical-align: top;
                    width: 33.33%;
                    text-align: center;
                    margin-bottom: 20px;
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    vertical-align: top;
                    a {
                        display: block;
                        margin: 10px 20px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .col-side {
            width: 250px;
            .border-box {
                border: 1px solid #e2e2e2;
                text-align: center;
                margin-bottom: 20px;
                .content-box {
                    padding: 15px;
                    h4 {
                        text-align: left;
                        font-size: 16px;
                        border-bottom: 1px solid #e2e2e2;
                        padding-bottom: 10px;
                        margin-top: 0px;
                    }
                    p {
                        text-align: left;
                        color: #8b8b8b;
                    }
                    .qr {
                        margin: 20px 0;
                    }
                }
            }
        }
    }
    &.support-2 {
        .col-main {
            margin-right: 0;
            margin-left: 20px;
            h3 {
                font-size: 24px;
                color: #e39300;
                border-bottom: 1px solid #e2e2e2;
                padding-bottom: 20px;
            }
            .border-box {
                border: 1px solid #e2e2e2;
                margin-bottom: 20px;
                padding: 20px;
                p {
                    line-height: 2;
                    margin-bottom: 30px;
                    a {
                        color: #666666;
                    }
                    .iconfont {
                        margin-right: 10px;
                    }
                }
            }
        }
        .col-side {
            p {
                a {
                    color: #666666;
                }
                .iconfont {
                    margin-right: 10px;
                }
            }
        }
    }
}
.more {
    .title {
        text-align: left;
        border-bottom: 1px solid #e2e2e2;
        padding: 20px 0;
        color: #666666;
        font-size: 18px;
        margin: 0;
        margin-bottom: 20px;
        .iconfont {
            font-size: 18px;
            margin-right: 10px;
        }
    }
    &.more-aboutus {
        .target {
            color: #666666;
            margin: 30px 0 30px;
        }
        ol {
            list-style: none;
            padding: 0;
            margin: 0;
            background: url(../images/r4.png) no-repeat right -40px;
            padding-bottom: 20px;
            li {
                background: url(../images/r1.png) no-repeat left center;
                padding-left: 50px;
                height: 38px;
                line-height: 38px;
                font-size: 20px;
                margin-bottom: 30px;
                &.r1 {
                    background-image: url(../images/r1.png);
                }
                &.r2 {
                    background-image: url(../images/r2.png);
                }
                &.r3 {
                    background-image: url(../images/r3.png);
                }
            }
        }
        .pics {
            img {
                margin-right: 15px;
            }
        }
    }
    &.more-contactus {
        .media {
            .media-body {
                p {
                    .iconfont {
                        font-size: 18px;
                        margin-right: 10px;
                    }
                    color: #666666;
                    a {
                        color: #666666;
                    }
                    &:hover {
                        color: #e39300;
                        a {
                            color: #e39300;
                        }
                    }
                }
            }
        }
        .map-box {
            margin-top: 50px;
            height: 377px;
            position: relative;
            .contact-info {
                position: absolute;
                top: 0px;
                right: 0px;
                height: 100%;
                padding: 0 30px;
                background-color: #e39300;
                opacity: 0.8;
                width: 280px;
                color: #ffffff;
                h3 {
                    font-size: 18px;
                    margin-top: 50px;
                    font-weight: normal;
                    line-height: 1.5;
                }
                p {
                    margin: 15px 0;
                    .iconfont {
                        font-size: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    &.more-yinsi {
        p {
            line-height: 2;
            margin-bottom: 25px;
        }
    }
}
